;
.result-page{
  @include contentPannel;
  padding: 60px 30px;
  .content-wraper{
    max-width: 1000px;
    margin: 40px auto;
    background: rgba(0,0,0,0.02);
    padding: 30px;
  }
  .btns-wraper{
    display: flex;
    justify-content: center;
    .ant-btn{
      margin: 0 10px;
    }
  }
}