@mixin layoutBase() {
  html, body{
    padding: 0;
    margin: 0;
    height: 100%;
  }
}

@mixin scrollbar($width: 4px, $background: rgba(0,0,0,.2)) {
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background: none;            // 原本滚动条背景去掉
    width: $width;               // 滚动条粗细
  }
  &::-webkit-scrollbar-thumb {
    background: $background;     // 滚动条背景
    border-radius: $width/2;         // 滚动条圆角
  }
}

@mixin lineover($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin contentPannel(){
  background-color: #fff;
  padding: 30px;
  min-height: 560px;
}